<form [formGroup] = "itemDetailForm">
    <label>Item:
        <input type="text" formControlName="name" >
    </label>
    <label>ID:
        <input type="text" formControlName="id">
    </label>
    <label>Descripcion:
        <input type="text" formControlName="descripcion">
    </label>
    <label>Categoria:
       <select>
           <option *ngFor="let categoria of dataService.getAllCategorias(); let i=index" id="i" value="i">{{categoria}}</option>
       </select>
    </label>
    <label>Costo:
        <input type="text" formControlName="costo">
    </label>
    <label>Proveedor:
        <select>
            <option *ngFor="let proveedor of dataService.getAllProveedores(); let i=index" id="i" value="i">{{proveedor}}</option>
        </select>
    </label>
    <label>Almacen:
        <select>
            <option *ngFor="let almacen of dataService.getAllAlmacenes(); let i=index" id="i" value="i">{{almacen}}</option>
        </select>
    </label>
    <label>Precio:
        <input type="text" formControlName="precio">
    </label>
    <label>
        Create:
        <input type="checkbox" checked="true" (click)="createEditSelector()" >
    </label>
    <button type="submit" (click)="editar()" [disabled]='createEdit'>Editar</button>
    <button type="submit" (click)="crear()" [disabled]='!createEdit'>Crear</button>
</form>