<form [formGroup] = "itemDetailForm">
    <label>Item:
        <input type="text" formControlName="nombre">
    </label>
    <label>ID:
        <input type="text" formControlName="id">
    </label>
    <label>Descripcion:
        <input type="text" formControlName="descripcion">
    </label>
    <label>Categoria:
        <input type="text" formControlName="categoria">
    </label>
    <label>Costo:
        <input type="text" formControlName="costo">
    </label>
    <label>Proveedor:
        <input type="text" formControlName="proveedor">
    </label>
    <label>Almacen:
        <input type="text" formControlName="almacen">
    </label>
    <label>Precio:
        <input type="text" formControlName="precio">
    </label>
    <button type="submit" >Editar</button>
</form>